.flex-container{
    width: 690px;
    height: 450px;
    background-color: pink;
    margin: 0 auto;
    display: flex;
    
    /*flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: center; */
}

.item{
    height: 150px;
    /* width: 250px; */
    text-align: center;
    font-size: 2em;
    flex-basis: 250px;
    
}

.red{
    background-color: red;
    /* flex-grow: 1; */
    flex-shrink: 1;
}

.green{
    background-color: green;
    /* flex-grow: 2; */
    flex-shrink: 2;
}

.blue{
    background-color: blue;
    /* flex-grow: 3; */
    flex-shrink: 3;
}


