

.flex-container{
    width: 800px;
    height: 450px;
    background-color: pink;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: center;

}

.item.large{
    height: 200px;
    font-size: 5em;
    order: 5;
}

.item.small{
    height: 100px;
    font-size: 3.5em;
    order: 20;
}

.item{
    width: 250px;
    height: 150px;
    background-color: blue;
    flex-shrink: 0;
    text-align: center;
    font-size: 2em;
    order: 10;
}

