

.flex-container{
    width: 800px;
    height: 450px;
    background-color: pink;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

}

.item.large{
    height: 200px;
}

.item.small{
    height: 100px;
    order: 1;
}

.item{
    width: 250px;
    height: 150px;
    background-color: blue;
    flex-shrink: 0;
}

